
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# Domain name, used by caddy
DOMAIN_NAME=99.232.190.48

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=r’^django-admin/’
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=K3y0wA_}T&!yGOnrK.*=D-Qp7udg-!aM7:zl&(AK0KjjQ{Lg_)
DJANGO_ALLOWED_HOSTS=.99.232.190.48

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=key-e59fba7489e371e3b8ff22f3f65ace15
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=sandboxc0654e51912345c190753de177f71c1a.mailgun.org

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=https://a355f952418242eb80ecc688bc20ee04:a7d430b3967d4aaab1eaa957987a4d6e@sentry.io/206681

DJANGO_OPBEAT_ORGANIZATION_ID=0847a4ab14f84e30843339bdbf1a5014
DJANGO_OPBEAT_APP_ID=fc44681b54
DJANGO_OPBEAT_SECRET_TOKEN=a9d62757fe1ef930a756b14b38392222ed1b3482

COMPRESS_ENABLED=

